---
import "@styles/components/_image.scss";
import ImageBlock from "@layoutFoundation/ImageBlock.astro";
const { content = [] } = Astro.props;
---

<div class="container">
	<div class="case-study">
		<ul class="case-study__list">
			{content.map((item: any) => (
				<li class="case-study__item grid lg:grid-col-4-8 g-md-5 lg:g-xl-5 mb-lg-3 lg:mb-xl-5 mt-0">
					<div class="case-study__content">
						<div class="case-study__tags">
							{item.tags && item.tags.map((tag: any) => (
								<span class="case-study__tags-label chip">{tag}</span>
							))}
						</div>
						{item.subheading && <h3 class="subheading">{item.subheading}</h3>}
						{item.description && <p class="m-0">{item.description}</p>}
					</div>

					<a href={item.link} class="case-study__link">
						<span class="case-study__link-indicator"><i class="fa-sharp fa-solid fa-chevron-right case-study__icon"></i></span>

						<ImageBlock
							src={item.image}
							alt={item.alt || item.subheading}
							class="case-study__image"
						/>
					</a>
				</li>
			))}
		</ul>
	</div>
</div>